{{define "admin"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/Admin/admin.css">
  <title>HOME</title>
  <link rel="website icon" type="png" href="/assets/icon.png">
</head>


<body>
  <!-----------------------------.BLOCK DE GAUCHE.------------------------>

  <div class="container" x-data="{ rightSide: false, leftSide: false }">
    <div class="left-side" :class="{'active' : leftSide}">
      <div class="left-side-button" @click="leftSide = !leftSide">
        <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
        <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
          viewBox="0 0 24 24">
          <path d="M19 12H5M12 19l-7-7 7-7" />
        </svg>
      </div>
      <div class="logo">MDO</div>
      <div class="side-wrapper">
        <div class="side-title">MENU</div>
        <div class="side-menu">
          <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <path d="M3 9l9-7 9 7v11a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
              <path d="M9 22V12h6v10" />
            </svg>
            Home
          </a>
          {{if .User.Connected}}
          <a href="/profil">
            <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
              viewBox="0 0 24 24">
              <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
              <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
            </svg>
            Me
          </a>
          {{end}}
        </div>
      </div>

      <div class="side-wrapper">
        <div class="side-title">SUBJECTS</div>
        <div class="side-menu">
          <a href="/categorie1"># Cat 1 </a>
          <a href="/categorie2"># Cat 2 </a>
          <a href="/categorie3"># Cat 3 </a>
        </div>
      </div>
      <div class="side-wrapper">
        <div class="side-title">MODERATEUR</div>
        <div class="side-menu">
          <a href="/categorie1">Nom Prodil 1 </a>
          <form method="post" class="album-action" action="#">
            <button name="delete" value="{{.PostID}}" class="delete-profil">
              <svg class="delete_svg" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
                <path
                  d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306">
                </path>
              </svg>
            </button>
          </form>
          <a href="/categorie2">Nom Prodil 2 </a>
          <form method="post" class="album-action" action="#">
            <button name="delete" value="{{.PostID}}" class="delete-profil">
              <svg class="delete_svg" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
                <path
                  d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306">
                </path>
              </svg>
            </button>
          </form>
          <a href="/categorie3">Nom Prodil 3 </a>
          <form method="post" class="album-action" action="#">
            <button name="delete" value="{{.PostID}}" class="delete-profil">
              <svg class="delete_svg" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
                <path
                  d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306">
                </path>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
    <!------------------------------------------------------------------------>


    <!-----------------------------.BLOCK CENTRAL.---------------------------->
    <div class="main">
      <div class="search-bar"></div>
      <div class="main-container">
        <div class="timeline">
          <div class="timeline-right">
            <!--------------.Écriture Post.----------->
            <!-- {{if .User.Connected}}
            <form method="POST" enctype="multipart/form-data">
              <div class="status box">
                <div class="status-menu"></div>
                <div class="status-main">
                  <img src="{{.User.Image}}" class="status-img">
                  <textarea class="status-textarea" name="message" placeholder="Write something ..."></textarea>
                </div>
                <div class="status-actions">
                  <a href="/" class="status-action">
                    <svg viewBox="-42 0 512 512" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M427.2 424c0 26.7-8.5 48.3-25.3 64.3-16.5 15.7-38.4 23.7-65 23.7H90.2c-26.6 0-48.5-8-65-23.7C8.5 472.3 0 450.7 0 423.9c0-10.2.3-20.4 1-30.2a302.7 302.7 0 0112.1-64.9c3.3-10.3 7.8-20.5 13.4-30.3 5.8-10.2 12.5-19 20.1-26.3a89 89 0 0129-18.2c11.2-4.4 23.7-6.7 37-6.7 5.2 0 10.3 2.2 20 8.5l21 13.5c6.6 4.3 15.7 8.3 27 11.9a107.7 107.7 0 0033 5.3c11 0 22-1.8 33-5.3 11.2-3.6 20.3-7.6 27-12l21-13.4c9.7-6.3 14.7-8.5 20-8.5 13.3 0 25.7 2.3 37 6.7a89 89 0 0128.9 18.2c7.6 7.3 14.4 16.1 20.2 26.3 5.5 9.8 10 20 13.3 30.3a305.5 305.5 0 0112.1 64.9c.7 9.8 1 20 1 30.2zm0 0"
                        fill="#6aa9ff" />
                      <path
                        d="M427.2 424c0 26.7-8.5 48.3-25.3 64.3-16.5 15.7-38.4 23.7-65 23.7H210.2V286.5h3.3c11 0 22-1.8 33-5.3 11.2-3.6 20.3-7.6 27-12l21-13.4c9.7-6.3 14.7-8.5 20-8.5 13.3 0 25.7 2.3 37 6.7a89 89 0 0128.9 18.2c7.6 7.3 14.4 16.1 20.2 26.3 5.5 9.8 10 20 13.3 30.3a305.5 305.5 0 0112.1 64.9c.7 9.8 1 20 1 30.2zm0 0"
                        fill="#2682ff" />
                    </svg>
                  </a>
                  <input type="file" name="myFile">
                  <p class="descript_img">max size 20Mo</p>
                  <button type="submit" class="status-share">Send</button>
                </div>
              </div>

              <label for="cat-select">Choose a categories:</label>

              <select name="categories" id="cat-select">
                <option></option>
                <option value="cat1">Cat 1</option>
                <option value="cat2">Cat 2</option>
                <option value="cat3">Cat 3</option>
              </select>
              <select name="categories2" id="cat-select">
                <option></option>
                <option value="cat1">Cat 1</option>
                <option value="cat2">Cat 2</option>
                <option value="cat3">Cat 3</option>
              </select>
            </form>
            {{end}}

            <!--------------.FIN Écriture Post.----------->

            <!-- <hr class="hr"> -->


            <!--------------.Armature Post.----------->

            {{range .AdminFeed}}
            <div class="album box">
              <div class="status-main">
                <img src="{{.UserImage}}" class="status-img">
                <div class="album-detail">
                  <div class="album-title"><strong>{{.Name}}</strong> <span>Demande Moderateur</span>
                  </div>
                  <div class="album-date">{{.Date}}</div>
                  <div class="postid" style="display: none">{{.NotifID}}</div>
                </div>
              </div>


              <div class="album-content">Je souhaite devenir modérateur</div>
              <div class="parentImageUpload">
                <div class="uploadImage"> <img src="{{.UserImage}}" class="upload-image"></div>
              </div>

              <div class="album-actions">

                <form method="post" class="album-action" action="/admin">
                  <button name="accepted" value="{{.NotifID}}" class="like">
                    <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                      stroke-linejoin="round" viewBox="0 0 24 24">
                      <path
                        d="M10.219,1.688c-4.471,0-8.094,3.623-8.094,8.094s3.623,8.094,8.094,8.094s8.094-3.623,8.094-8.094S14.689,1.688,10.219,1.688 M10.219,17.022c-3.994,0-7.242-3.247-7.242-7.241c0-3.994,3.248-7.242,7.242-7.242c3.994,0,7.241,3.248,7.241,7.242C17.46,13.775,14.213,17.022,10.219,17.022 M15.099,7.03c-0.167-0.167-0.438-0.167-0.604,0.002L9.062,12.48l-2.269-2.277c-0.166-0.167-0.437-0.167-0.603,0c-0.166,0.166-0.168,0.437-0.002,0.603l2.573,2.578c0.079,0.08,0.188,0.125,0.3,0.125s0.222-0.045,0.303-0.125l5.736-5.751C15.268,7.466,15.265,7.196,15.099,7.03">
                      </path>
                    </svg>
                  </button>
                </form>

                <form method="post" class="album-action" action="/admin">
                  <button name="refused" value="{{.NotifID}}" class="dislike">
                    <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                      stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
                      <path
                        d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z">
                      </path>
                    </svg>
                  </button>
                </form>
              </div>
            </div>

            {{end}}

            <!--------------. FIN Armature Post.----------->

            <!--------------. Armature Post1 Précréer.----------->

            <div class="album box">
              <div class="status-main">
                {{if .User.Connected}}<img src="{{.User.Image}}" class="status-img">{{end}}{{if not
                .User.Connected}}<img src="/assets/images/beehive-37436.svg" class="status-img">{{end}}
                <div class="album-detail">
                  <div class="album-title">{{if .User.Connected}}<strong>{{.Name}}</strong>{{end}} {{if not
                    .User.Connected}}<strong>{{.User.Name}}</strong>{{end}} create new <span>post</span></div>

                  <div class="album-date">11 Janv 2023</div>
                </div>
              </div>
              <div class="album-content">Hello guys
                <div class="album-photos">
                  <img
                    src="https://images.unsplash.com/photo-1508179719682-dbc62681c355?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80"
                    alt="" class="album-photo">
                  <div class="album-right">
                    <img
                      src="https://images.unsplash.com/photo-1502872364588-894d7d6ddfab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80"
                      alt="" class="album-photo">
                    <img
                      src="https://images.unsplash.com/photo-1566737236500-c8ac43014a67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                      alt="" class="album-photo">
                  </div>
                </div>
              </div>

              <div class="album-actions">
                <!--If not Connected just show the number of likes dislikes comments-->
                <!---If Connected you can click on like/dislike/comment-->

                <a href="" class="album-action">
                  <button class="like">
                    <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                      stroke-linejoin="round" viewBox="0 0 24 24">
                      <path
                        d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z" />
                    </svg>
                  </button>
                  <span class="like-count"></span>
                </a>



                <a href="" class="album-action">
                  <button class="dislike">
                    <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                      stroke-linejoin="round" class="css-i6dzq1" viewBox="0 0 24 24">
                      <path d="M18 6L6 18M6 6l12 12" />
                    </svg>
                  </button>
                  <span class="dislike-count"></span>
                </a>



                <a href="" class="album-action">
                  <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                    class="css-i6dzq1" viewBox="0 0 24 24">
                    <path d="M21 15a2 2 0 01-2 2H7l-4 4V5a2 2 0 012-2h14a2 2 0 012 2z" />
                  </svg>
                  1
                </a>

              </div>
            </div>
          </div>
          <!-----------------.FIN Armature Post1 Précréer.------------>

        </div>
      </div>
    </div>

    <!-----------------------------.FIN BLOCK CENTRAL.---------------------------->


    <!-----------------------------.BLOCK DE DROITE.---------------------------->

    <div class="right-side" :class="{ 'active': rightSide }">
      <div class="account">
        <button class="account-button">
          <svg stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
            class="css-i6dzq1" viewBox="0 0 24 24">
            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
            <path d="M22 6l-10 7L2 6" />
          </svg>
        </button>
        {{if .User.Connected}}
        <a class="account_link" href="/profil">
          <span class="account-user"> {{.User.Name}}
            <img src="{{.User.Image}}" class="account-profile">
          </span>
        </a>
        {{end}}
        {{if not .User.Connected}}
        <a class="account_link" href="/register">
          <span class="account-user"> Register
          </span>
        </a>
        <a class="account_link" href="/login">
          <span class="account-user"> Login
            <img src="/assets/images/beehive-37436.svg" class="account-profile">
          </span>
        </a>
        {{end}}
      </div>
      <div class="side-wrapper stories">
        <div class="side-title">NOTIFICATIONS</div>
        <p> AFFICHER les demande de moderateur et signalement de posts </p>
        {{if not .User.Connected }}<a href="/login"><button type="submit" class="status-share">Login
            in</button></a>{{end}}
      </div>
    </div>


    <!-----------------------------.FIN BLOCK DE DROITE.---------------------------->

    <!-----------------------------------.SCRIPT.----------------------------------->
    <script>

      function displayUploadIMG() {
        uploadIMG = document.querySelectorAll("upload-image");
        img = document.querySelectorAll("img")
        console.log(img)
        if (img.src == "/assets/images/") {
          uploadIMG.style.display = "none"
        } else {
          uploadIMG.style.width = "500px";
          uploadIMG.style.height = "500px";
          uploadIMG.style.marginLeft = "20px";
          uploadIMG.style.display = "block";
        }
      }
      displayUploadIMG()



    </script>
    <!------------------------------------------------------------------------------>

</body>
<!-----------------------------------.FIN BODY.--------------------------------->

</html>
{{end}}
