body {
	font-family: Arial, sans-serif;
	background-color: #333; /* Couleur de fond sombre */
	/*background-image: url('./images/beehive-37436.svg'); /* Illustration de fond */
	background-size: cover; /* Redimensionnement de l'illustration pour qu'elle remplisse toute la page */
	color: #fff; /* Couleur des textes en blanc */
}

.container {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	/*Pourquelecontaineroccupetoutelahauteurdelapage*/
    background-color: rgba(255, 255, 255, 0.1);
	/*Couleurdefondtransparenteavecunelégèreteinteblanche*/
    padding: 20px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.user-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 400px;
	background-color: #333;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}


h1 {
	text-align: center;
	margin-bottom: 20px;
	color: #fff; /* Couleur du titre en blanc */
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

label {
	width: 48%;
	font-size: 18px;
	color: #fff; /* Couleur des labels en blanc */
	margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
	width: 48%;
	height: 45px;
	padding: 0 20px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 10px;
	outline: none;
	color: whitesmoke; /*Couleurdutextedeschampsdesaisieennoir*/
	background-color: rgba(255, 255, 255, 0.1); /*Couleurdefondtransparenteavecunelégèreteinteblanche*/
	transition: all 0.3s;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

/*input[type="text"]:focus,
input[type="password"]:focus {
	border-color: #3498db;
	background-color: #fff;
	color: #333; 
}*/

input[type="submit"] {
	width: 100%;
	height: 45px;
	margin-top: 10px;
	background-color: #3498db;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}


.user-photo {
	width: 150px;
	height: 150px;
	border-radius: 15%;
	overflow: hidden;
	margin-bottom: 20px;
	-webkit-border-radius: 15%;
	-moz-border-radius: 15%;
	-ms-border-radius: 15%;
	-o-border-radius: 15%;
}

.user-photo img {
	width: 100%;
	height: auto;
}
